
.img{
width: 500px;
height: 500px;
object-fit: contain;
}

.progessBar{
height: 1rem;
width: 0%;
background-color: rgb(68, 212, 231);
color: white;
padding:2px
}

.file-upload{

box-shadow: 2px 2px 2px 2px #ccc;
padding: 2rem;
display: flex;
flex-direction: column;

justify-content: space-between;
font-size: 1rem;
}

.p {
    text-align: center;
    color: black;
}

.padding{
    text-align: center;
    background-color: orange;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 80px;
    font-family: "Times New Roman", Times, serif;
  }

.front{
    font-family: "Times New Roman", Times, serif;
}

.background{
    background-color: #FFCC99
    ;
    
}




